.update-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: #f5f5f5;
  border-radius: 12px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.update-container h2 {
    font-family: 'Cinzel', serif;
    margin-bottom: 1.5rem;
    color: #222;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid #d78df9;
    width: 100%;
}


.field-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 450px;
  margin-bottom: 18px;
  gap: 10px;
}

.field-container label {
  flex-shrink: 0;
  min-width: 100px;
  color: rgb(140, 4, 244);;
  font-family: 'Cinzel', serif;
  font-size: 0.875rem;
  font-weight: 500;
}
/* .edit-input {
    flex-grow: 1;
    padding: 10px 14px;
    border: 1px solid #c896ff;
    border-radius: 6px;
    font-family: 'dumbledor';
    font-size: 0.875rem;
    outline: none;
} */

.edit-button {
  display: flex;
  align-items: center;
}

.edit-button button,
.MuiButton-root.edit-button {
  font-size: 0.8rem;
  padding: 3px 10px;
  margin-left: 8px;
  border-radius: 6px;
  background: linear-gradient(135deg, #c896ff 0%, #8b4789 100%);
  color: white;
  font-family: 'Cinzel', serif;
  font-size: 0.75rem;
  border-radius: 6px;
  border: none;
}

 .edit-button.cancel {
  font-size: 0.8rem;
  padding: 3px 10px;
  margin-left: 8px;
  border-radius: 6px;
  background: linear-gradient(135deg, #c896ff 0%, #8b4789 100%);
  color: white;
  font-family: 'Cinzel', serif;
  font-size: 0.75rem;
  border-radius: 6px;
  border: none;
}

.success {
  color: rgb(138, 52, 195);
  font-weight: 500;
  margin-top: 16px;
}

.error {
   background-color: #faf1e6;
  border-left: 5px solid #e2577f;
  border-top: 1px solid #e2577f;
  border-bottom: 1px solid #e2577f;
  color: #9e2146;
  font-family: "dumbledor", serif;
  font-size: 1.15rem;
  padding: 12px 15px;
  margin: 15px 0;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(139, 71, 137, 0.1);
  animation: shake 0.4s ease-in-out;
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(4px);
  }
}

.delete-profile button { 
  font-size: 0.8rem;
  padding: 5px 10px;
  margin-left: 8px;
  border-radius: 6px;
  background: linear-gradient(135deg, #c896ff 0%, #8b4789 100%);
  color: white;
  font-family: 'Cinzel', serif;
  font-size: 0.75rem;
  border-radius: 6px;
  border: none;
}
