@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almendra+Display&display=swap');

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    background-color: silver;
}
@font-face {
    font-family: 'Fairy Dust';
    src: url(/FairyDustB.ttf);
}
@font-face {
    font-family: 'Dumbledor';
    src: url(/dum3.ttf);
}
@font-face {
    font-family: 'Harry P';
    src: url(/HARRYP__.TTF);
}
@font-face {
    font-family: "Knights Quest";
    src: url(/Knights\ Quest.ttf);
}
@font-face {
    font-family: "Fairies";
    src: url(/Fairies-LWRZ.ttf);
}
@font-face {
    font-family: "Irish";
    src: url(/IrishuncialfabetaBold-2OEBd.ttf);
}
@font-face {
    font-family: "Kings and Pirates";
    src: url(/KingsAndPirates-p7EAK.ttf);
}
@font-face {
    font-family: "Berenika";
    src: url(/Berenika-ojp0.ttf);
}
@font-face {
    font-family: "Milwich";
    src: url(/Milwich-21do.ttf)
}
@font-face {
    font-family: "Valentine Cupcake";
    src: url(/Valentine-Cupcake.ttf)
}
@font-face {
    font-family: "Handmade";
    src: url(/Handmade2.otf)
}
@font-face {
    font-family: "Nexa";
    src: url(/Nexa-ExtraLight.ttf)
}
@font-face {
    font-family: "Garet";
    src: url(/Garet-Book.ttf)
}
@font-face {
    font-family: "Comfortaa";
    src: url(/Comfortaa-Light.ttf)
}
