.checkout-form {
  padding: 20px 20px 50px 20px;
  background-color: rgba(116, 116, 116, 0.842);
  border-radius: 10px;
  box-shadow: 0px -5px 20px rgb(192, 112, 241);
  width: 100%;
}
.checkout-form h2 {
  text-align: center;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
  font-family: "Cinzel", serif;
  font-size: 1.75rem;
  color: #4d2362;
}
.demo-cards ul {
  list-style: none;
  padding: 20px;
}
.demo-cards li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgba(192, 190, 190, 0.527);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(206, 151, 233, 0.522);
  font-size: 15px;
  font-family: "Cinzel";
  color: rgb(96, 10, 138);
}
.demo-cards-details summary {
  font-size: 16px;
  font-family: "Cinzel", serif;
  color: #3b0456;
  cursor: pointer;
  margin-bottom: 10px;
}
.checkout-form button {
  padding: 7px;
  background: linear-gradient(135deg, #c896ff 0%, #8b4789 100%);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
  margin: 15px auto;
  display: flex;
  justify-content: center;
  font-family: "Cinzel", serif;
  width: 100%;
}
.checkout-form button:hover {
  background: linear-gradient(135deg, #c896ff 0%, #673265 100%);
  cursor: pointer;
  transform: translateY(-2px);
}
.shipping-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: left;
  margin-bottom: 20px;
}
.shipping-info h3 {
  font-size: 1.25rem;
  color: #4d2362;
  font-family: "Cinzel", serif;
  border-bottom: solid 1px #cf8bfffc;
  text-align: center;
}
.shipping-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.shipping-info label {
  display: flex;
  flex-direction: column;
  font-size: medium;
  font-weight: 550;
  font-family: 'Cinzel', serif;
  color: #4d2362;
}
.shipping-info input {
  padding: 5px;
  box-shadow: #c896ff 0px 2px 4px;
  border-radius: 4px;
  font-size: medium;
  background-color: rgba(225, 224, 224, 0.641);
  color: black;
}
.card-element-container {
  margin: 20px 0;
  padding: 12px;
  background-color: white;
  border-radius: 4px;
  cursor: text;
}
.errors {
  background-color: #faf1e6;
  border-left: 5px solid #e2577f;
  border-top: 1px solid #e2577f;
  border-bottom: 1px solid #e2577f;
  color: #9e2146;
  font-family: "dumbledor", serif;
  font-size: 1.15rem;
  padding: 12px 15px;
  margin: 15px 0;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(139, 71, 137, 0.1);
  animation: shake 0.4s ease-in-out;
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(4px);
  }
}
